<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXmlSDK" version="2.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.6" targetFramework="net40" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net40" />
</packages>